.timerHeader {
  text-align: center;
  color: red;
}

.display {
  margin: auto;
  border: 3px solid green;
  width: 15%;
  text-align: center;
}

.buttons {
  margin: auto;
  margin-top: 10px;
  width: 30%;
  text-align: center;
}
